################################################################################
# Rust / Cargo
################################################################################
/target/
**/*.rs.bk
*.pdb

################################################################################
# IDEs / Editors
################################################################################
.idea/
.vscode/
*.code-workspace

################################################################################
# OS / Misc
################################################################################
.DS_Store
Thumbs.db
*~
*.swp
*.swo

################################################################################
# Local environment
################################################################################
.env
.env.*
